@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark {
    @media (max-width: 0) {}
}

@theme {
    --color-primary: #d46211;
    --color-background-light: #f8f7f6;
    --color-background-dark: #221810;

    --font-display: "Manrope", sans-serif;

    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}